# Exploratory Text Analysis

## What kinds of text analysis are there?

* analyst knows the pattern
    * regular expressions
* analyst does not know the pattern
    * natural language processing
        * compares historical examples to judge novel cases
            * comparisons are statistical and approximate

In [1]:
# [a-zA-Z]{3}[ ]?[0-9]{4} -> 3 letters of any case, followed by 1 space (optional), followed by 4 nums!
# ?      means 0 or 1 occurance
# +      means 1 or more occurance
# *      means 0 or more occurance
# ^      means start of the pattern
# $      means end of the pattern

### Examples of Analysis

When you know the pattern:

In [ ]:
pattern = '£ ?[0-9][0-9]?' # £ then SPACE-optional then digit then digit-optional

document = 'My eggs cost £ 3, bread cost £2, vodka cost £ 35'

In [ ]:
import re

In [ ]:
re.findall(pattern, document)

['£ 3', '£2', '£ 35']

If you dont:

* sentiment analysis
    * how positive/negative is this (new) review?
* topic analysis
    * what is this document about?

## What can I do if I know what pattern I want to find?

* finding ("extracting")
    * what matches the pattern?
* matching ("validating")
    * does the entire document match YES/NO?
* substitue ("replacing")
    * replace a part that matches a pattern with another...

## How do I validate text with pandas?

In [2]:
import pandas as pd

In [3]:
ti = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/diamler_17_jan/main/titanic.csv')
ti.sample(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
464,0,3,male,NaN,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True
178,0,2,male,30.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True

In [4]:
ti['ticket'] = "Ticket: " + ti['class'] + "; Price: $ " + ti['fare'].astype(str) + "; Port: " + ti['embark_town'] + ";"

In [5]:
ti[['class', 'fare', 'embark_town', 'ticket']].head(3)

,class,fare,embark_town,ticket
0,Third,7.2500,Southampton,Ticket: Third; Price: $ 7.25; Port: Southampton;
1,First,71.2833,Cherbourg,Ticket: First; Price: $ 71.2833; Port: Cherbourg;
2,Third,7.9250,Southampton,Ticket: Third; Price: $ 7.925; Port: Southampton;

In [ ]:
pattern = '(First|Second)'

ti['class'].str.match(pattern)

0      False
1       True
2      False
3       True
4      False
       ...
886     True
887     True
888    False
889     True
890    False
Name: class, Length: 891, dtype: bool

In [ ]:
ti.loc[ ti['class'].str.match(pattern)  , 'survived'].mean()

0.5575

In [ ]:
pattern = '(Third)'
ti.loc[ ti['class'].str.match(pattern)  , 'survived'].mean()

0.24236252545824846

## How do I extract data with pandas?

In [ ]:
ti[['class', 'fare', 'embark_town', 'ticket']].head(3)

   class  ...                                             ticket
0  Third  ...   Ticket: Third; Price: $ 7.25; Port: Southampton;
1  First  ...  Ticket: First; Price: $ 71.2833; Port: Cherbourg;
2  Third  ...  Ticket: Third; Price: $ 7.925; Port: Southampton;

[3 rows x 4 columns]

In [ ]:
#just for demo, no real purpose
pattern = '([0-9.]+)'

ti['ticket'].str.extract(pattern).sample(4)

           0
848     33.0
869  11.1333
405     21.0
651     23.0

## How do I substitue text with pandas?

In [ ]:
ti['ticket'].str.replace('$', '€').sample(1)

430    Ticket: First; Price: € 26.55; Port: Southampton;
Name: ticket, dtype: object

## What are regular expressions?

Regular expressions are a language for describing patterns in text.

They are separate from python, but may be used within python program. (And elsewhere, eg., often in SQL).

They are notoriously difficult to read and write; and as a separate language, an additional tool to learn.

## What regular expression patterns can I use?

* literals
    * `a`, find me an `a`
    * `£`, find `£`
    * `!` means `!`
    * ... most symbols mean "find me"
* `.`
    * find any **single** symbol
* character classes -- find a **single** symbol
    * `[abc]` $\rightarrow$ **either** a, b, c
    * `[0-9]` $\rightarrow$ **either** 0, 1, 2, 3,...9
    * `[A-Z]` $\rightarrow$ **either** capital A, B, ... Z
    * inversions
        * `[^abc]` $\rightarrow$ **is not** `a` OR `b` OR `c`
        * `[^a-zA-Z0-9 ]`  $\rightarrow$ **is not** alphanumeric-ish
    
* alternatives -- find the character**s** given by...
    * `(May|June|July)`  $\rightarrow$ **the whole worlds** May OR June..

In [ ]:
ti['ticket'].str.extract('(Ticket: (First|Second))')

In [ ]:
ti['ticket'].str.extract('( [0-9][0-9])')

In [ ]:
ti['ticket'].sample(1)

In [ ]:
ti['ticket'].str.extract('(Ticket: [A-Z])').sample(2)

In [ ]:
ti['ticket'].str.extract('(T........)').sample(3)

In [ ]:
ti['ticket'].str.extract('(Price: [^0-9A-Za-z] ..)').sample(3)

In [ ]:
ti['ticket'].str.extract('(Port: (Cherbourg|Southampton))').sample(3)

* repetitions
    * optional `?`
        * an optional number: `[0-9]?`
    * one or more `+`
        * one or more spaces: ` +`  
    * optional, or more, `*`
        * ` [0-9][0-9]?.[0-9]*`

In [ ]:
ti['ticket'].str.extract('([0-9][0-9]?.[0-9]*)').sample(3)

In [ ]:
ti['ticket'].str.extract('(Ticket: [a-zA-Z]+)').sample(3)

In [ ]:
row = 0
match = 1 # second match

ti['ticket'].str.extractall('([a-zA-Z]+: [a-zA-Z]+)').loc[row, match]

In [ ]:
ti['ticket'].str.extract('([a-zA-Z]+tow?n)')

* EXTRA:
    * escaping
        * How do I say, literally, the `.` symbol?
        * `\.`

In [ ]:
ti['ticket'].str.extract('(\$ [0-9]+\.[0-9]+)').sample(2)

* positional matching
    * `^` means **at the beginning**
    * `$` means **at the end**

In [ ]:
ti['ticket'].str.extractall('([a-zA-Z]+: [a-zA-Z]+;$)').sample(1)

In [ ]:
ti['ticket'].str.extractall('(^[a-zA-Z]+: [a-zA-Z]+;)').sample(1)

                      0
  match
2 0      Ticket: Third;

## Next Steps

* review a "Regex Cheat Sheet"
    * also, eg., https://en.wikipedia.org/wiki/Regular_expression#Examples

## Exercise (30 min)

* find all the words in the tickets
    * HINT: a word is a repeated letter followed by a space or a colon
    * HINT: `[ :]` means a space or a colon
* find all the USD prices
    * HINT: ``` \$ ``` and repeated numbers
    
* find all the high-price tickets
    * HINT: consider `\$`, tripple-digit number, `\.`

In [ ]:
#Solution

In [7]:
ti[['class', 'fare', 'embark_town', 'ticket']].head(3)

,class,fare,embark_town,ticket
0,Third,7.2500,Southampton,Ticket: Third; Price: $ 7.25; Port: Southampton;
1,First,71.2833,Cherbourg,Ticket: First; Price: $ 71.2833; Port: Cherbourg;
2,Third,7.9250,Southampton,Ticket: Third; Price: $ 7.925; Port: Southampton;

In [30]:
ti['ticket'].str.findall('([a-zA-Z]+)').sample(10)

287     [Ticket, Third, Price, Port, Southampton]
395     [Ticket, Third, Price, Port, Southampton]
713     [Ticket, Third, Price, Port, Southampton]
397    [Ticket, Second, Price, Port, Southampton]
726    [Ticket, Second, Price, Port, Southampton]
642     [Ticket, Third, Price, Port, Southampton]
98     [Ticket, Second, Price, Port, Southampton]
472    [Ticket, Second, Price, Port, Southampton]
380       [Ticket, First, Price, Port, Cherbourg]
170     [Ticket, First, Price, Port, Southampton]
Name: ticket, dtype: object

In [37]:
ti['ticket'].str.findall('(\$ [0-9]+\.[0-9]+)').sample(10)

569     [$ 7.8542]
135    [$ 15.0458]
26       [$ 7.225]
226       [$ 10.5]
124    [$ 77.2875]
415       [$ 8.05]
121       [$ 8.05]
242       [$ 10.5]
715       [$ 7.65]
606     [$ 7.8958]
Name: ticket, dtype: object

In [50]:
ti['ticket'].str.findall('([0-9]+\.[0-9]+)').sort_values(ascending=False).sample(10)

887       [30.0]
459       [7.75]
326     [6.2375]
870     [7.8958]
572    [26.3875]
766       [39.6]
666       [13.0]
146     [7.7958]
740       [30.0]
720       [33.0]
Name: ticket, dtype: object

In [ ]:
ti['ticket'].str.extract('(\$ [0-9]+\.[0-9]+)').sample(2)

             0
644  $ 19.2583
790     $ 7.75

In [ ]:
row = 0
match = 1 # second match
ti['ticket'].str.extractall('(\$ [0-9][0-9][0-9]+\.[0-9]+)')#.loc[row, 0]

                    0
    match
27  0         $ 263.0
31  0      $ 146.5208
88  0         $ 263.0
118 0      $ 247.5208
195 0      $ 146.5208
215 0       $ 113.275
258 0      $ 512.3292
268 0      $ 153.4625
269 0      $ 135.6333
297 0        $ 151.55
299 0      $ 247.5208
305 0        $ 151.55
306 0      $ 110.8833
307 0         $ 108.9
311 0       $ 262.375
318 0      $ 164.8667
319 0         $ 134.5
325 0      $ 135.6333
332 0      $ 153.4625
334 0        $ 133.65
337 0         $ 134.5
341 0         $ 263.0
373 0      $ 135.6333
377 0         $ 211.5
380 0       $ 227.525
390 0         $ 120.0
393 0       $ 113.275
435 0         $ 120.0
438 0         $ 263.0
498 0        $ 151.55
505 0         $ 108.9
527 0      $ 221.7792
537 0       $ 106.425
544 0       $ 106.425
550 0      $ 110.8833
557 0       $ 227.525
581 0      $ 110.8833
609 0      $ 153.4625
659 0       $ 113.275
660 0        $ 133.65
679 0      $ 512.3292
689 0      $ 211.3375
698 0      $ 110.8833
700 0       $ 227.525
708 0        $ 151.55
716 0       $ 227.525
730 0      $ 211.3375
737 0      $ 512.3292
742 0       $ 262.375
763 0         $ 120.0
779 0      $ 211.3375
802 0         $ 120.0
856 0      $ 164.8667